<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

{% if address %}

<center>
  <img src="/hash_img/{{ address }}"
       width="100px" height="100px">
  <p>balance:</p>
  <h2>{{ balances[address] }}</h2>
</center>

{% endif %}

<center>
  <div id="make_transaction">
    <input id="input_address" size="50"
           type="text"
           placeholder="Address"
           value="{{ address }}">
    <input id="button_search_address" type="submit" value="Search">
  </div>
</center>

<br>

<center>
  {% for tx in transactions %}
  <div class="tx_box">
    <span class="timestamp">{{ tx['timestamp'] }}</span>
    <a href="/account/{{ tx['from_address'] }}">
      <img src="/hash_img/{{ tx['from_address'] }}"
           width="100px" height="100px">
    </a>
    <a href="/account/{{ tx['to_address'] }}">
      <img src="/hash_img/{{ tx['to_address'] }}"
           width="100px" height="100px">
    </a>
    <span class="amount">{{ tx['amount'] }}</span>
  </div>
  {% endfor %}
</center>

{% endblock %}

{% block scripts %}

<script>

  window.onload = function() {

      var input_address = document.getElementById('input_address');
      var button_search_address = document.getElementById('button_search_address');
      button_search_address.addEventListener('click', () => {
          window.location.href = '/account/' + input_address.value;
      });
      const storage = window.localStorage;
      const publicKey = storage.getItem('publicKey');
      const secretKey = storage.getItem('secretKey');
      if (!secretKey || !publicKey) {
      }
  }

</script>

<script src="{{ url_for('static', filename = 'nacl.min.js') }}" ></script>
<script src="{{ url_for('static', filename = 'nacl-util.min.js') }}" ></script>
<script src="{{ url_for('static', filename = 'moment.js') }}" ></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% endblock %}
