<!-- extend base layout -->
{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename = 'moment.js') }}" ></script>
<script src="{{ url_for('static', filename = 'moment-with-locales.js') }}" ></script>
<script>
    moment.locale('fi');
</script>
{% endblock %}

{% block content %}

<div style="margin: 20px;">

    <center>
        {% for tx in transactions %}
        <br/>
        <div class="tx_box">
            <div class="timestamp">
                {{ ts_js(tx) }}
            </div>
            <a href="{{ prefix }}/account/{{ tx['from_address'] }}">
                <img src="{{ prefix }}/hash_img/{{ tx['from_address'] }}"
                     width="100px" height="100px">
            </a>
            <a href="{{ prefix }}/account/{{ tx['to_address'] }}">
                <img src="{{ prefix }}/hash_img/{{ tx['to_address'] }}"
                     width="100px" height="100px">
            </a>
            <h3 class="amount">{{ tx['amount'] }} SPC</h3>
        </div>
        {% endfor %}
    </center>
</div>

{% endblock %}
