<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div id="remove_sk"
     style="display: none">
  <button id="button_logout">logout</button>
</div>
<center>
  <div id="insert_sk"
       style="display: none">
    <input id="input_sk" size="50" type="password"
           placeholder="Insert your secret key">
    <button id="button_login">ok</button>
  </div>
</center>

<center>
  <div id="make_transaction"
       style="display: none">

    <div id="account_img"></div>
    <div id="account_address"></div>
    <div id="account_balance"></div>

    <div id="tx_inputs">
      <input id="input_tx_to_address" size="40"
             type="text"
             placeholder="To address"><br>
      <input id="input_tx_amount" size="20"
             type="number" min="1"
             placeholder="Amount">
      <input id="button_make_tx"
             type="submit" value="Make transaction">
    </div>
  </div>
</center>

<center>
  <br><br>
  <div id="directory"
       style="display: none">
    <div="directory_new">
      <input id="input_directory_address" size="40"
             type="text"
             placeholder="Address"><br>
      <input id="input_directory_desc" size="40"
             type="text"
             placeholder="Description"><br>
      <input id="button_add_directory"
             type="submit"
             value="Add to directory">
  </div>
  <div="directory_items">

</div>
</div>
</center>

<center>
  <div id="pending_transactions"
       style="display: none">
    <h2>Pending transactions</h2>
  </div>
</center>

<center>
  <div id="new_wallet"
       style="display: none">

    <button id="button_new_wallet">Create new wallet</button>
    <div id="new_wallet_values"
         style="display: none">
      <img id="new_hash_img">
      <p>Public key</p>
      <div id="new_public_key"></div>
      <p>Secret key (if you lose this, it is done.)</p>
      <div id="new_secret_key"></div>

    </div>
  </div>
</center>

<br>

{% endblock %}

{% block scripts %}

<script>

  window.onload = function() {

      function getInputValue(elementId) {
          return document.getElementById(elementId).value;
      }
      function setDisplay(elementId, display='block') {
          var elem = document.getElementById(elementId);
          elem.style.display = display;
      }
      
      function createNewWallet() {
          const kp = nacl.sign.keyPair();
          sk_hex = toHexString(kp.secretKey);
          pk_hex = toHexString(kp.publicKey);

          var new_hash_img = document.getElementById('new_hash_img');
          new_hash_img.src = '/hash_img/' + pk_hex;
          var new_public_key = document.getElementById('new_public_key');
          new_public_key.innerHTML = pk_hex;
          var new_secret_key = document.getElementById('new_secret_key');
          new_secret_key.innerHTML = sk_hex;

          setDisplay('new_wallet_values');
      }
      
      function create(htmlStr) {
          var frag = document.createDocumentFragment(),
              temp = document.createElement('div');
          temp.innerHTML = htmlStr;
          while (temp.firstChild) {
              frag.appendChild(temp.firstChild);
          }
          return frag;
      }

      function buf2hex(buffer) { // buffer is an ArrayBuffer
          return Array.prototype.map.call(new Uint8Array(buffer), x => ('00' + x.toString(16)).slice(-2)).join('');
      }

      const fromHexString = hexString =>
            new Uint8Array(hexString.match(/.{1,2}/g).map(byte => parseInt(byte, 16)));

      const toHexString = bytes =>
            bytes.reduce((str, byte) => str + byte.toString(16).padStart(2, '0'), '');


      const validateSecretKey = secretKey => nacl.sign.keyPair.fromSecretKey(fromHexString(secretKey));


      const makeTransaction = (to_address, amount, secret_key, public_key) => {

          const kp = nacl.sign.keyPair.fromSecretKey(fromHexString(secret_key));
          const obj = { 'to_address': to_address,
                        'from_address': public_key,
                        'amount': amount }
          const obj_str = JSON.stringify(obj);
          const secret = nacl.sign(nacl.util.decodeUTF8(obj_str), kp.secretKey);

          axios.post('/submit', {
              public_key: public_key,
              message: toHexString(secret)
          }).then(function (response) {
              console.log(response);
              window.location.reload(false);
          }).catch(function (error) {
              console.log(error);
          });
      };

      const getAccountTransactions = (account) => {
          axios.get('/transactions/' + account)
              .then(function (response) {
                  console.log(response);
                  var balance = response.data['balances'][account]
                  if (!balance) {
                      balance = 0;
                  }
                  var account_img = document.getElementById('account_img');
                  account_img.innerHTML = '<a href="/account/' + account + '"><img src="hash_img/' + account + '"></a>'; 

                  var account_address = document.getElementById('account_address');
                  account_address.innerHTML = '' + account + ''; 

                  var account_balance = document.getElementById('account_balance');
                  account_balance.innerHTML = '<p>Balance:</p><h2>' + balance + ' SPC</h2>'; 

              }).catch(function (error) {
                  console.log(error);
              });
          
      }

      const getPendingTx = (account) => {
          axios.get('/pending_tx/' + account)
              .then(function (response) {
                  var pending_transactions = document.querySelector('#pending_transactions');
                  if (response.data.length > 0) {
                      setDisplay('pending_transactions');
                  } else {
                      // var tx_inputs = document.getElementById('tx_inputs');
                      // tx_inputs.style.visibility = 'visible';
                  }
                  for (let tx in response.data) {
                      let amount = response.data[tx]['amount'];
                      let to_address = response.data[tx]['to_address'];
                      let from_address = response.data[tx]['from_address'];

                      var div = document.createElement("div");
                      var div_amount = document.createElement("amount");
                      div_amount.innerHTML = '' + amount + ' SPC';
                      div.append(div_amount);
                      var br = document.createElement("br");
                      div.append(br);
                      var img_from = document.createElement("img");
                      img_from.src = '/hash_img/' + from_address;
                      div.append(img_from);
                      var img_to = document.createElement("img");
                      img_to.src = '/hash_img/' + to_address;
                      div.append(img_to);
                      pending_transactions.append(div)

                  }
              }).catch(function (error) {
                  console.log(error);
              });
      }
      
      const storage = window.localStorage;
      const publicKey = storage.getItem('publicKey');
      const secretKey = storage.getItem('secretKey');

      if (!secretKey || !publicKey) {

          setDisplay('new_wallet');
          setDisplay('insert_sk');

          var button_new_wallet = document.getElementById('button_new_wallet');
          button_new_wallet.addEventListener('click', () => {
              createNewWallet();
          });

          var button_login = document.getElementById('button_login');
          button_login.addEventListener('click', () => {
              var input = document.getElementById('input_sk');
              var kp = validateSecretKey(input.value);
              if (kp.secretKey && kp.publicKey) {
                  storage.setItem('publicKey', toHexString(kp.publicKey));
                  storage.setItem('secretKey', toHexString(kp.secretKey));
                  window.location.reload(false);
              }
          });
      } else {

          getAccountTransactions(publicKey);
          getPendingTx(publicKey);

          setDisplay('remove_sk');
          setDisplay('make_transaction');
          setDisplay('directory');

          var button_logout = document.getElementById('button_logout');
          button_logout.addEventListener('click', () => {
              storage.clear();
              window.location.reload(false);
          });

          var button_make_tx = document.getElementById('button_make_tx');
          button_make_tx.addEventListener('click', () => {
              var input_tx_to_address = document.getElementById('input_tx_to_address');
              var input_tx_amount = document.getElementById('input_tx_amount');
              makeTransaction(input_tx_to_address.value,
                              input_tx_amount.value,
                              secretKey,
                              publicKey);
          });

          var button_add_directory = document.getElementById('button_add_directory');
          button_add_directory.addEventListener('click', () => {

              var address = getInputValue('input_directory_address');
              var desc = getInputValue('input_directory_desc');

              const kp = nacl.sign.keyPair.fromSecretKey(fromHexString(secretKey));
              const secret = nacl.sign(nacl.util.decodeUTF8(publicKey), kp.secretKey);
              const hexed = toHexString(secret)
              axios.post('/directory', {
                  public_key: publicKey,
                  signed_public_key: hexed
              }).then(function (response) {
                  console.log(response);
                  window.location.reload(false);
              }).catch(function (error) {
                  console.log(error);
              });
              

              console.log('moi');

          });
      }
  }

  </script>

<script src="{{ url_for('static', filename = 'nacl.min.js') }}" ></script>
<script src="{{ url_for('static', filename = 'nacl-util.min.js') }}" ></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% endblock %}
