<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<center>
  <div id="insert_sk"
       style="visibility: hidden">
    <input id="input_sk" size="50" type="password"
           placeholder="Insert your secret key">
    <button id="button_login">ok</button>
  </div>

  <div id="remove_sk"
       style="visibility: hidden">
    <button id="button_logout">logout</button>
  </div>
</center>

<center>
  <div id="make_transaction"
        style="visibility: hidden">
    <input id="input_tx_to_address" size="50"
           type="text"
           placeholder="To address">
    <input id="input_tx_amount" size="10"
           type="number" min="1"
           placeholder="Amount"><br>
    <input id="button_make_tx" type="submit" value="Make transaction">
  </div>
</center>

<br>

{% endblock %}

{% block scripts %}

<script>

  window.onload = function() {
      function create(htmlStr) {
          var frag = document.createDocumentFragment(),
              temp = document.createElement('div');
          temp.innerHTML = htmlStr;
          while (temp.firstChild) {
              frag.appendChild(temp.firstChild);
          }
          return frag;
      }

      function buf2hex(buffer) { // buffer is an ArrayBuffer
          return Array.prototype.map.call(new Uint8Array(buffer), x => ('00' + x.toString(16)).slice(-2)).join('');
      }

      const fromHexString = hexString =>
            new Uint8Array(hexString.match(/.{1,2}/g).map(byte => parseInt(byte, 16)));

      const toHexString = bytes =>
            bytes.reduce((str, byte) => str + byte.toString(16).padStart(2, '0'), '');


      const validateSecretKey = secretKey => nacl.sign.keyPair.fromSecretKey(fromHexString(secretKey));


      const makeTransaction = (to_address, amount, secret_key, public_key) => {

          const kp = nacl.sign.keyPair.fromSecretKey(fromHexString(secret_key));
          const obj = { 'to_address': to_address,
                        'from_address': public_key,
                        'amount': amount }
          const obj_str = JSON.stringify(obj);
          const secret = nacl.sign(nacl.util.decodeUTF8(obj_str), kp.secretKey);

          axios.post('/submit', {
              public_key: public_key,
              message: toHexString(secret)
          }).then(function (response) {
              console.log(response);
          }).catch(function (error) {
              console.log(error);
          });
      };
      
      const kp = nacl.sign.keyPair();
      sk_hex = toHexString(kp.secretKey);
      pk_hex = toHexString(kp.publicKey);
      sk_orig = fromHexString(sk_hex);
      pk_orig = fromHexString(pk_hex);
      
      console.log('kp', kp);
      console.log('sk_hex', sk_hex);
      console.log('pk_hex', pk_hex);
      console.log('sk_orig', sk_orig);
      console.log('pk_orig', pk_orig);

      const new_kp = nacl.sign.keyPair.fromSecretKey(sk_orig);
      console.log('new kp', new_kp);


      const message = "{'from_address': '', to_address: '', 'amount': 100}";
      const secret_message = nacl.sign(nacl.util.decodeUTF8(message), sk_orig);
      const signed_message_hex = toHexString(secret_message);

      const sm_orig = fromHexString(signed_message_hex);

      const opened = nacl.sign.open(sm_orig, pk_orig);
      console.log('hexed message', signed_message_hex);
      console.log('opened', nacl.util.encodeUTF8(opened));

      
      const storage = window.localStorage;
      const publicKey = storage.getItem('publicKey');
      const secretKey = storage.getItem('secretKey');
      if (!secretKey || !publicKey) {
          var insert_sk = document.getElementById('insert_sk');
          insert_sk.style.visibility = 'visible';

          var button_login = document.getElementById('button_login');
          button_login.addEventListener('click', () => {
              var input = document.getElementById('input_sk');
              var kp = validateSecretKey(input.value);
              if (kp.secretKey && kp.publicKey) {
                  storage.setItem('publicKey', toHexString(kp.publicKey));
                  storage.setItem('secretKey', toHexString(kp.secretKey));
                  window.location.reload(false);
              }
          });
      } else {
          var remove_sk = document.getElementById('remove_sk');
          remove_sk.style.visibility = 'visible';

          var make_transaction = document.getElementById('make_transaction');
          make_transaction.style.visibility = 'visible';

          var button_logout = document.getElementById('button_logout');
          button_logout.addEventListener('click', () => {
              storage.clear();
              window.location.reload(false);
          });

          var button_make_tx = document.getElementById('button_make_tx');
          button_make_tx.addEventListener('click', () => {
              var input_tx_to_address = document.getElementById('input_tx_to_address');
              var input_tx_amount = document.getElementById('input_tx_amount');
              makeTransaction(input_tx_to_address.value,
                              input_tx_amount.value,
                              secretKey,
                              publicKey);
          });
      }
  }

</script>

<script src="{{ url_for('static', filename = 'nacl.min.js') }}" ></script>
<script src="{{ url_for('static', filename = 'nacl-util.min.js') }}" ></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% endblock %}
